.cart-route {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.orders-status-container {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-cart-image {
  width: 70%;
  max-width: 320px;
}

.cart-order-heading {
  margin-top: 24px;
  margin-bottom: 0;
  color: #1e293b;
  font-size: 25px;
  font-weight: 600;
}

.cart-order-description {
  margin-top: 12px;
  color: #64748b;
  text-align: center;
  line-height: 1.8;
}

.cart-default-button {
  color: #ffffff;
  margin-top: 8px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #f7931e;
}

.cart-default-button:hover {
  font-size: 16px;
  padding: 7px 14px;
  border: 1px solid #f7931e;
  background-color: #ffaa4a;
}

.cart-section {
  margin: 32px 24px;
  border-radius: 8px;
}

.cart-items-container {
  padding-left: 0;
  margin-bottom: 32px;
  list-style-type: none;
}

.cart-items-header-li {
  display: none;
}

.cart-summary-container {
  color: #3e4c59;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-order-total-text {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
}

.cart-total-cost-container {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-total-cost {
  margin: 0;
}

.cart-place-order-container {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .cart-section {
    margin: 36px 48px;
    padding: 48px 64px;
    border: 1px solid rgba(11, 105, 255, 0.1);
    background-color: #f9fbfe;
  }

  .cart-items-container {
    margin-top: 0;
  }

  .cart-items-header-li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .li-cart-item-title {
    color: #475569;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }

  .w-36 {
    width: 36%;
    text-align: center;
  }

  .w-32 {
    width: 32%;
  }

  .cart-hr {
    display: block;
    border: 1px dashed #cbd2d9;
  }
}

@media screen and (min-width: 992px) {
  .cart-section {
    margin: 48px 100px;
  }
}
